<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/account.css">
</head>

<body>
        <main class="login-wrapper">

            <h1>
                <%= title %>
            </h1>

            <%- messages() %>

            <% if (errors) { %>
                <ul class="notice">
                    <% errors.array().forEach(error=> { %>
                        <li>
                            <%= error.msg %>
                        </li>
                        <% }) %>
                </ul>
                <% } %>

                    <form id="loginForm" action="/account/login" method="post">
                        <label for="email">Email Address</label>
                        <input type="email" id="accountEmail" name="account_email" required placeholder="Enter a valid email address" value="<%= locals.account_email %>">

                        <label for="password">Password</label>
                        <input type="password" id="accountPassword" name="account_password" required>

                        <button type="submit" class="login-btn">Login</button>
                    </form>

                    <p class="register-link">
                        No account yet?
                        <a href="/account/register">Register here</a>
                    </p>

        </main>
</body>

</html>